headerText{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 20px;
}

.line{
    height:2px;
    background: #0f172a;
    flex: 1;

}

.text{
    font-weight: 800;
    font-size: 2 rem;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
}

.sectionConent{
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    width: 100%;
    background: green;
    padding: 20px;
    gap: 30px;

}


@media (min-width: 640px){
    .sectionConent{
        padding: 0 50px;
    }
}