.footerWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px 0;
    background: #0f172a;
    color: white;
    font-size: 2rem;
}

.icon{
    transition-duration: 300ms;
    cursor:pointer;
    padding: 0 8px;
    padding: 4px 6px;
    text-decoration: none;
    color: inherit;
}

.icon:hover{
    background: white;
    color:#0f172a;;
}