.imgDisplay{
    max-width: 100%;
    object-fit: contain;
    position: relative;
    transition-duration: 300ms;
    border-radius: 2px;
}

.img{
    max-width: 100%;
}
.button{
    cursor: pointer;
    transition-duration: 300ms;
    color: inherit;
    text-decoration: none;
    transition-duration: 300ms;
}

.button:hover{
    color: #0f172a;
    background: white;
    padding: 4px 6px;
}